@font-face {
  font-family: 'BPGNinoMtavruli-Bold';
  src: url('BPGNinoMtavruli-Bold.woff') format('woff'),
       url('BPGNinoMtavruli-Bold.ttf') format('truetype'),
       url('BPGNinoMtavruli-Bold.svg#BPGNinoMtavruli-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bpg_nino_mtavruli_bold';
  src: url('bpg_nino_mtavruli_bold.eot');
  src: url('bpg_nino_mtavruli_bold.woff2') format('woff2'),
       url('bpg_nino_mtavruli_bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BPGNinoMtavruli';
  src: url('BPGNinoMtavruli.woff') format('woff'),
       url('BPGNinoMtavruli.ttf') format('truetype'),
       url('BPGNinoMtavruli.svg#BPGNinoMtavruli') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bpg_nino_mtavruli_normal';
  src: url('bpg_nino_mtavruli_normal.eot');
  src: url('bpg_nino_mtavruli_normal.woff2') format('woff2'),
       url('bpg_nino_mtavruli_normal.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVuSans-Bold';
  src: url('DejaVuSans-Bold.woff') format('woff'),
       url('DejaVuSans-Bold.ttf') format('truetype'),
       url('DejaVuSans-Bold.svg#DejaVuSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dejavu-sans-bold';
  src: url('dejavu-sans-bold.eot');
  src: url('dejavu-sans-bold.woff2') format('woff2'),
       url('dejavu-sans-bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVuSans';
  src: url('DejaVuSans.eot');
  src: url('DejaVuSans.woff2') format('woff2'),
       url('DejaVuSans.woff') format('woff'),
       url('DejaVuSans.ttf') format('truetype'),
       url('DejaVuSans.svg#DejaVuSans') format('svg'),
       url('DejaVuSans.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*Noto Font*/

@font-face {
	font-family: 'Noto Sans UI';
	src: url('NotoSansUI-Bold.eot');
	src: url('NotoSansUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('NotoSansUI-Bold.woff2') format('woff2'),
		url('NotoSansUI-Bold.woff') format('woff'),
		url('NotoSansUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('NotoSans.eot');
	src: url('NotoSans.eot?#iefix') format('embedded-opentype'),
		url('NotoSans.woff2') format('woff2'),
		url('NotoSans.woff') format('woff'),
		url('NotoSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans Georgian';
	src: url('NotoSansGeorgian-Bold.eot');
	src: url('NotoSansGeorgian-Bold.eot?#iefix') format('embedded-opentype'),
		url('NotoSansGeorgian-Bold.woff2') format('woff2'),
		url('NotoSansGeorgian-Bold.woff') format('woff'),
		url('NotoSansGeorgian-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans Georgian';
	src: url('NotoSansGeorgian-Regular.eot');
	src: url('NotoSansGeorgian-Regular.eot?#iefix') format('embedded-opentype'),
		url('NotoSansGeorgian-Regular.woff2') format('woff2'),
		url('NotoSansGeorgian-Regular.woff') format('woff'),
		url('NotoSansGeorgian-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* This stylesheet generated by Transfonter (https://transfonter.org) on July 24, 2017 6:48 AM */

@font-face {
	font-family: 'GL Akademiuri';
	src: url('GLAkademiuri-Regular.eot');
	src: url('GLAkademiuri-Regular.eot?#iefix') format('embedded-opentype'),
		url('GLAkademiuri-Regular.woff2') format('woff2'),
		url('GLAkademiuri-Regular.woff') format('woff'),
		url('GLAkademiuri-Regular.ttf') format('truetype'),
		url('GLAkademiuri-Regular.svg#GLAkademiuri-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Venuri';
	src: url('GLVenuri-Thin.eot');
	src: url('GLVenuri-Thin.eot?#iefix') format('embedded-opentype'),
		url('GLVenuri-Thin.woff2') format('woff2'),
		url('GLVenuri-Thin.woff') format('woff'),
		url('GLVenuri-Thin.ttf') format('truetype'),
		url('GLVenuri-Thin.svg#GLVenuri-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'GL Kupiura';
	src: url('GLKupiura-Medium.eot');
	src: url('GLKupiura-Medium.eot?#iefix') format('embedded-opentype'),
		url('GLKupiura-Medium.woff2') format('woff2'),
		url('GLKupiura-Medium.woff') format('woff'),
		url('GLKupiura-Medium.ttf') format('truetype'),
		url('GLKupiura-Medium.svg#GLKupiura-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GL Tatishvili_Chonchkhi';
	src: url('GLChonchkhi-Light.eot');
	src: url('GLChonchkhi-Light.eot?#iefix') format('embedded-opentype'),
		url('GLChonchkhi-Light.woff2') format('woff2'),
		url('GLChonchkhi-Light.woff') format('woff'),
		url('GLChonchkhi-Light.ttf') format('truetype'),
		url('GLChonchkhi-Light.svg#GLChonchkhi-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GL Moskovis';
	src: url('GLMoskovis-Regular.eot');
	src: url('GLMoskovis-Regular.eot?#iefix') format('embedded-opentype'),
		url('GLMoskovis-Regular.woff2') format('woff2'),
		url('GLMoskovis-Regular.woff') format('woff'),
		url('GLMoskovis-Regular.ttf') format('truetype'),
		url('GLMoskovis-Regular.svg#GLMoskovis-Regular') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GL Kupiura';
	src: url('GLKupiura-Regular.eot');
	src: url('GLKupiura-Regular.eot?#iefix') format('embedded-opentype'),
		url('GLKupiura-Regular.woff2') format('woff2'),
		url('GLKupiura-Regular.woff') format('woff'),
		url('GLKupiura-Regular.ttf') format('truetype'),
		url('GLKupiura-Regular.svg#GLKupiura-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Gordeziani';
	src: url('GLGordeziani-Light.eot');
	src: url('GLGordeziani-Light.eot?#iefix') format('embedded-opentype'),
		url('GLGordeziani-Light.woff2') format('woff2'),
		url('GLGordeziani-Light.woff') format('woff'),
		url('GLGordeziani-Light.ttf') format('truetype'),
		url('GLGordeziani-Light.svg#GLGordeziani-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GL Kupiura';
	src: url('GLKupiura-UltraLight.eot');
	src: url('GLKupiura-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('GLKupiura-UltraLight.woff2') format('woff2'),
		url('GLKupiura-UltraLight.woff') format('woff'),
		url('GLKupiura-UltraLight.ttf') format('truetype'),
		url('GLKupiura-UltraLight.svg#GLKupiura-UltraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'GL Kupiura';
	src: url('GLKupiura-Bold.eot');
	src: url('GLKupiura-Bold.eot?#iefix') format('embedded-opentype'),
		url('GLKupiura-Bold.woff2') format('woff2'),
		url('GLKupiura-Bold.woff') format('woff'),
		url('GLKupiura-Bold.ttf') format('truetype'),
		url('GLKupiura-Bold.svg#GLKupiura-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GL Mkafio';
	src: url('GLMkafio-Regular.eot');
	src: url('GLMkafio-Regular.eot?#iefix') format('embedded-opentype'),
		url('GLMkafio-Regular.woff2') format('woff2'),
		url('GLMkafio-Regular.woff') format('woff'),
		url('GLMkafio-Regular.ttf') format('truetype'),
		url('GLMkafio-Regular.svg#GLMkafio-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Mkafio';
	src: url('GLMkafio-UltraLight.eot');
	src: url('GLMkafio-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('GLMkafio-UltraLight.woff2') format('woff2'),
		url('GLMkafio-UltraLight.woff') format('woff'),
		url('GLMkafio-UltraLight.ttf') format('truetype'),
		url('GLMkafio-UltraLight.svg#GLMkafio-UltraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'GL Tatishvili_Chonchkhi';
	src: url('GLChonchkhi-Regular.eot');
	src: url('GLChonchkhi-Regular.eot?#iefix') format('embedded-opentype'),
		url('GLChonchkhi-Regular.woff2') format('woff2'),
		url('GLChonchkhi-Regular.woff') format('woff'),
		url('GLChonchkhi-Regular.ttf') format('truetype'),
		url('GLChonchkhi-Regular.svg#GLChonchkhi-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Kirovi';
	src: url('GLKirovi-Bold.eot');
	src: url('GLKirovi-Bold.eot?#iefix') format('embedded-opentype'),
		url('GLKirovi-Bold.woff2') format('woff2'),
		url('GLKirovi-Bold.woff') format('woff'),
		url('GLKirovi-Bold.ttf') format('truetype'),
		url('GLKirovi-Bold.svg#GLKirovi-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GL Universiteti';
	src: url('GLUniversiteti-Regular.eot');
	src: url('GLUniversiteti-Regular.eot?#iefix') format('embedded-opentype'),
		url('GLUniversiteti-Regular.woff2') format('woff2'),
		url('GLUniversiteti-Regular.woff') format('woff'),
		url('GLUniversiteti-Regular.ttf') format('truetype'),
		url('GLUniversiteti-Regular.svg#GLUniversiteti-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Tatishvili_Metal';
	src: url('GLTatishviliMetal-Bold.eot');
	src: url('GLTatishviliMetal-Bold.eot?#iefix') format('embedded-opentype'),
		url('GLTatishviliMetal-Bold.woff2') format('woff2'),
		url('GLTatishviliMetal-Bold.woff') format('woff'),
		url('GLTatishviliMetal-Bold.ttf') format('truetype'),
		url('GLTatishviliMetal-Bold.svg#GLTatishviliMetal-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GL Chonchkhi Book';
	src: url('GLChonchkhi-Book.eot');
	src: url('GLChonchkhi-Book.eot?#iefix') format('embedded-opentype'),
		url('GLChonchkhi-Book.woff2') format('woff2'),
		url('GLChonchkhi-Book.woff') format('woff'),
		url('GLChonchkhi-Book.ttf') format('truetype'),
		url('GLChonchkhi-Book.svg#GLChonchkhi-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Italiuri';
	src: url('GLItaliuri-Regular.eot');
	src: url('GLItaliuri-Regular.eot?#iefix') format('embedded-opentype'),
		url('GLItaliuri-Regular.woff2') format('woff2'),
		url('GLItaliuri-Regular.woff') format('woff'),
		url('GLItaliuri-Regular.ttf') format('truetype'),
		url('GLItaliuri-Regular.svg#GLItaliuri-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Venuri';
	src: url('GLVenuri-Bold.eot');
	src: url('GLVenuri-Bold.eot?#iefix') format('embedded-opentype'),
		url('GLVenuri-Bold.woff2') format('woff2'),
		url('GLVenuri-Bold.woff') format('woff'),
		url('GLVenuri-Bold.ttf') format('truetype'),
		url('GLVenuri-Bold.svg#GLVenuri-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GL Gordeziani';
	src: url('GLGordeziani-UltraLight.eot');
	src: url('GLGordeziani-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('GLGordeziani-UltraLight.woff2') format('woff2'),
		url('GLGordeziani-UltraLight.woff') format('woff'),
		url('GLGordeziani-UltraLight.ttf') format('truetype'),
		url('GLGordeziani-UltraLight.svg#GLGordeziani-UltraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'GL Tatishvili_12';
	src: url('GLTatishvili12-Normal.eot');
	src: url('GLTatishvili12-Normal.eot?#iefix') format('embedded-opentype'),
		url('GLTatishvili12-Normal.woff2') format('woff2'),
		url('GLTatishvili12-Normal.woff') format('woff'),
		url('GLTatishvili12-Normal.ttf') format('truetype'),
		url('GLTatishvili12-Normal.svg#GLTatishvili12-Normal') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Kupiura';
	src: url('GLKupiura-Light.eot');
	src: url('GLKupiura-Light.eot?#iefix') format('embedded-opentype'),
		url('GLKupiura-Light.woff2') format('woff2'),
		url('GLKupiura-Light.woff') format('woff'),
		url('GLKupiura-Light.ttf') format('truetype'),
		url('GLKupiura-Light.svg#GLKupiura-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GL Gordeziani';
	src: url('GLGordeziani-Medium.eot');
	src: url('GLGordeziani-Medium.eot?#iefix') format('embedded-opentype'),
		url('GLGordeziani-Medium.woff2') format('woff2'),
		url('GLGordeziani-Medium.woff') format('woff'),
		url('GLGordeziani-Medium.ttf') format('truetype'),
		url('GLGordeziani-Medium.svg#GLGordeziani-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GL Satitulo';
	src: url('GLSatitulo-Regular.eot');
	src: url('GLSatitulo-Regular.eot?#iefix') format('embedded-opentype'),
		url('GLSatitulo-Regular.woff2') format('woff2'),
		url('GLSatitulo-Regular.woff') format('woff'),
		url('GLSatitulo-Regular.ttf') format('truetype'),
		url('GLSatitulo-Regular.svg#GLSatitulo-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Venuri';
	src: url('GLVenuri-ExtraLight.eot');
	src: url('GLVenuri-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('GLVenuri-ExtraLight.woff2') format('woff2'),
		url('GLVenuri-ExtraLight.woff') format('woff'),
		url('GLVenuri-ExtraLight.ttf') format('truetype'),
		url('GLVenuri-ExtraLight.svg#GLVenuri-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'GL Venuri';
	src: url('GLVenuri-Heavy.eot');
	src: url('GLVenuri-Heavy.eot?#iefix') format('embedded-opentype'),
		url('GLVenuri-Heavy.woff2') format('woff2'),
		url('GLVenuri-Heavy.woff') format('woff'),
		url('GLVenuri-Heavy.ttf') format('truetype'),
		url('GLVenuri-Heavy.svg#GLVenuri-Heavy') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'GL Lortkipanidze';
	src: url('GLLortkipanidze-Regular.eot');
	src: url('GLLortkipanidze-Regular.eot?#iefix') format('embedded-opentype'),
		url('GLLortkipanidze-Regular.woff2') format('woff2'),
		url('GLLortkipanidze-Regular.woff') format('woff'),
		url('GLLortkipanidze-Regular.ttf') format('truetype'),
		url('GLLortkipanidze-Regular.svg#GLLortkipanidze-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Venuri Book';
	src: url('GLVenuri-Book.eot');
	src: url('GLVenuri-Book.eot?#iefix') format('embedded-opentype'),
		url('GLVenuri-Book.woff2') format('woff2'),
		url('GLVenuri-Book.woff') format('woff'),
		url('GLVenuri-Book.ttf') format('truetype'),
		url('GLVenuri-Book.svg#GLVenuri-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Venuri';
	src: url('GLVenuri-Medium.eot');
	src: url('GLVenuri-Medium.eot?#iefix') format('embedded-opentype'),
		url('GLVenuri-Medium.woff2') format('woff2'),
		url('GLVenuri-Medium.woff') format('woff'),
		url('GLVenuri-Medium.ttf') format('truetype'),
		url('GLVenuri-Medium.svg#GLVenuri-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GL Mkafio Book';
	src: url('GLMkafio-Book.eot');
	src: url('GLMkafio-Book.eot?#iefix') format('embedded-opentype'),
		url('GLMkafio-Book.woff2') format('woff2'),
		url('GLMkafio-Book.woff') format('woff'),
		url('GLMkafio-Book.ttf') format('truetype'),
		url('GLMkafio-Book.svg#GLMkafio-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Parizuli';
	src: url('GLParizuli-Medium.eot');
	src: url('GLParizuli-Medium.eot?#iefix') format('embedded-opentype'),
		url('GLParizuli-Medium.woff2') format('woff2'),
		url('GLParizuli-Medium.woff') format('woff'),
		url('GLParizuli-Medium.ttf') format('truetype'),
		url('GLParizuli-Medium.svg#GLParizuli-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GL Venuri';
	src: url('GLVenuri-Regular.eot');
	src: url('GLVenuri-Regular.eot?#iefix') format('embedded-opentype'),
		url('GLVenuri-Regular.woff2') format('woff2'),
		url('GLVenuri-Regular.woff') format('woff'),
		url('GLVenuri-Regular.ttf') format('truetype'),
		url('GLVenuri-Regular.svg#GLVenuri-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Mkafio';
	src: url('GLMkafio-ExtraLight.eot');
	src: url('GLMkafio-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('GLMkafio-ExtraLight.woff2') format('woff2'),
		url('GLMkafio-ExtraLight.woff') format('woff'),
		url('GLMkafio-ExtraLight.ttf') format('truetype'),
		url('GLMkafio-ExtraLight.svg#GLMkafio-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'GL Venuri';
	src: url('GLVenuri-Light.eot');
	src: url('GLVenuri-Light.eot?#iefix') format('embedded-opentype'),
		url('GLVenuri-Light.woff2') format('woff2'),
		url('GLVenuri-Light.woff') format('woff'),
		url('GLVenuri-Light.ttf') format('truetype'),
		url('GLVenuri-Light.svg#GLVenuri-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GL GiorgiNikoladze';
	src: url('GLGiorgiNikoladze-Regular.eot');
	src: url('GLGiorgiNikoladze-Regular.eot?#iefix') format('embedded-opentype'),
		url('GLGiorgiNikoladze-Regular.woff2') format('woff2'),
		url('GLGiorgiNikoladze-Regular.woff') format('woff'),
		url('GLGiorgiNikoladze-Regular.ttf') format('truetype'),
		url('GLGiorgiNikoladze-Regular.svg#GLGiorgiNikoladze-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Mkafio';
	src: url('GLMkafio-Light.eot');
	src: url('GLMkafio-Light.eot?#iefix') format('embedded-opentype'),
		url('GLMkafio-Light.woff2') format('woff2'),
		url('GLMkafio-Light.woff') format('woff'),
		url('GLMkafio-Light.ttf') format('truetype'),
		url('GLMkafio-Light.svg#GLMkafio-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GL Gordeziani';
	src: url('GLGordeziani-Bold.eot');
	src: url('GLGordeziani-Bold.eot?#iefix') format('embedded-opentype'),
		url('GLGordeziani-Bold.woff2') format('woff2'),
		url('GLGordeziani-Bold.woff') format('woff'),
		url('GLGordeziani-Bold.ttf') format('truetype'),
		url('GLGordeziani-Bold.svg#GLGordeziani-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GL EreklesStamba';
	src: url('GLEreklesStamba-Regular.eot');
	src: url('GLEreklesStamba-Regular.eot?#iefix') format('embedded-opentype'),
		url('GLEreklesStamba-Regular.woff2') format('woff2'),
		url('GLEreklesStamba-Regular.woff') format('woff'),
		url('GLEreklesStamba-Regular.ttf') format('truetype'),
		url('GLEreklesStamba-Regular.svg#GLEreklesStamba-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Gordeziani';
	src: url('GLGordeziani-Regular.eot');
	src: url('GLGordeziani-Regular.eot?#iefix') format('embedded-opentype'),
		url('GLGordeziani-Regular.woff2') format('woff2'),
		url('GLGordeziani-Regular.woff') format('woff'),
		url('GLGordeziani-Regular.ttf') format('truetype'),
		url('GLGordeziani-Regular.svg#GLGordeziani-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Mkafio';
	src: url('GLMkafio-Thin.eot');
	src: url('GLMkafio-Thin.eot?#iefix') format('embedded-opentype'),
		url('GLMkafio-Thin.woff2') format('woff2'),
		url('GLMkafio-Thin.woff') format('woff'),
		url('GLMkafio-Thin.ttf') format('truetype'),
		url('GLMkafio-Thin.svg#GLMkafio-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'GL Parizuli';
	src: url('GLParizuli-Regular.eot');
	src: url('GLParizuli-Regular.eot?#iefix') format('embedded-opentype'),
		url('GLParizuli-Regular.woff2') format('woff2'),
		url('GLParizuli-Regular.woff') format('woff'),
		url('GLParizuli-Regular.ttf') format('truetype'),
		url('GLParizuli-Regular.svg#GLParizuli-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Saeklesio';
	src: url('GLSaeklesio-Regular.eot');
	src: url('GLSaeklesio-Regular.eot?#iefix') format('embedded-opentype'),
		url('GLSaeklesio-Regular.woff2') format('woff2'),
		url('GLSaeklesio-Regular.woff') format('woff'),
		url('GLSaeklesio-Regular.ttf') format('truetype'),
		url('GLSaeklesio-Regular.svg#GLSaeklesio-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GL Parizuli';
	src: url('GLParizuli-Bold.eot');
	src: url('GLParizuli-Bold.eot?#iefix') format('embedded-opentype'),
		url('GLParizuli-Bold.woff2') format('woff2'),
		url('GLParizuli-Bold.woff') format('woff'),
		url('GLParizuli-Bold.ttf') format('truetype'),
		url('GLParizuli-Bold.svg#GLParizuli-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GL Lortkipanidze';
	src: url('GLLortkipanidze-Bold.eot');
	src: url('GLLortkipanidze-Bold.eot?#iefix') format('embedded-opentype'),
		url('GLLortkipanidze-Bold.woff2') format('woff2'),
		url('GLLortkipanidze-Bold.woff') format('woff'),
		url('GLLortkipanidze-Bold.ttf') format('truetype'),
		url('GLLortkipanidze-Bold.svg#GLLortkipanidze-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

