<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fonts.geolab.edu.ge</title>
    <link rel="shortcut icon" href="~/Images/logo-ico.ico" type="image/x-icon" />
    <link rel="icon" href="~/Images/logo-ico.ico" type="image/x-icon">
    <meta name="description" content="
          საიტზე წარმოდგენილია
ქართულ წიგნებსა და სტამბებში შემორჩენილი შრიფტების აღდგენილი და გაციფრულებული ვერსიები.">
    <meta name="keywords" content="ჯეოლაბი, Geolab, ფონტები, შრიფტები, fonts">
    <meta property="og:title" content="fonts.geolab.edu.ge" />
    <meta property="og:description" content="ქართულ წიგნებსა და სტამბებში შემორჩენილი შრიფტების აღდგენილი და გაციფრულებული ვერსიები" />
    @*<meta property="fb:app_id" content="" />*@
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://fonts.geolab.edu.ge/" />
    <meta property="og:image" content="http://fonts.geolab.edu.ge/Images/logoOgTag.jpg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css"><link href="~/Styles/cs-select.css" rel="stylesheet" />
    <link href="~/Styles/cs-skin-elastic.css" rel="stylesheet" />
    <link href="~/fonts/font.css" rel="stylesheet" />
    <link href="~/Styles/style.css" rel="stylesheet" />
    <link href="~/Styles/custom_checkbox.css" rel="stylesheet" />
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="500">


    <div>
        @RenderBody()

    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/tether.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js"></script>
    <script src="~/Js/classie.js"></script>
    <script src="~/Js/selectFx.js"></script>
    <script src="~/Js/script.js"></script>
</body>
</html>